// Greys
$white:    #fff !default;
$gray-50: #F8FAFC !default;
$gray-100: #F1F5F9 !default;
$gray-200: #E2E8F0 !default;
$gray-300: #CBD5E1 !default;
$gray-400: #94A3B8 !default;
$gray-500: #64748B !default;
$gray-600: #475569 !default;
$gray-700: #334155 !default;
$gray-800: #1E293B !default;
$gray-900: #0F172A !default;
$black:    #000 !default;

// Colors
$blue:    hsl(217, 71%,  53%) !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     hsl(348, 86%, 61%) !default;
$orange:  #E76F51 !default;
$yellow:  #ffc107 !default;
$green:   #00C58E !default;
$turquoise: #38B2AC !default;
$teal:    #59a8ab !default;
$cyan:    #026f91 !default;

// Theme
$primary:       $teal !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Body
$body-bg: $gray-50;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;